#old-browser
  h4 Your browser is <strong>ancien</strong>
  p <a href="http://browsehappy.com/">Update your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">intall Chrome Frame</a> to access this page.
