.tabs(class=obj.content["menu-position"] || "top left")
  .steps
    ul.wrapper.unstyled
      if obj.content.steps
        each step, stepKey in obj.content.steps       
          li(class=(step["no-index"] ? "hidden":""))
            a.to-step(href="#step="+stepKey, data-step=stepKey)
              if src=step["menu-icon"]
                img.icon.right10(src=step["menu-icon"])
              =stripTags(step.name)
  .nav-tick
    a.previous(title="Previous")
    a.next(title="Next")