extends ./layouts/naked

block content
    #home
        .banner
            nav.anchors
                ul.inline
                    li
                        a(href="#discover") discover
                    li
                        a(href="#understand") understand
                    li
                        a(href="#know") know
                    li
                        a(href="#share") share
            .introduction
                !=getPage("home")
            .launch
                a.btn.btn-large.btn-block.btn-save(href="/create")
                    | Let's begin