extends ./layouts/base

block title
    | Welcome to Dataplayer
block content
    include ./widgets/user-menu
    #home
        .banner
            nav.anchors
                ul.inline
                    li
                        a(href="#discover") discover
                    li
                        a(href="#demo") demo
                    li
                        a(href="#touch") get in touch
            .introduction
                include ./pages/home.md
            .launch
                a.btn.btn-large.btn-block.btn-dp(href="/create")
                    | Get started!
            .overflow
                .picture
                    //- Empty div to illustrate the homepage
        
        #discover
            .container
                h2 Discover
                .row
                    .span8
                        span.pull-left.icon-stack.icon-3x.top10.bottom20
                            i.icon-circle.icon-stack-base.icon-dp
                            i.icon-user.icon-light
                        h3 No account
                        p As long as we're in alpha testing, you don't need an account.
                          | Don't worry, anything you do now is saved on our servers!

                .row.tr
                    .span8.offset4
                        span.pull-right.icon-stack.icon-3x.top10.bottom20
                            i.icon-circle.icon-stack-base.icon-dp
                            i.icon-pencil.icon-light
                        h3 Highly customizable          
                        p It's all JSON, baby! The no-frills interface
                          | puts you in full control of your story. No cumbersome point-and-click
                          | interface. You're the boss.

                .row
                    .span8
                        span.pull-left.icon-stack.icon-3x.top10.bottom20
                            i.icon-circle.icon-stack-base.icon-dp
                            i.icon-html5.icon-light
                        h3 Mobile-ready
                        p Your stories can be accessed on any device. It's all responsive! We even
                          | made it compatible with IE7.

                .row.tr
                    .span8.offset4
                        span.pull-right.icon-stack.icon-3x.top10.bottom20
                            i.icon-circle.icon-stack-base.icon-dp
                            i.icon-rocket.icon-light
                        h3 Designed for journalists
                        p We're journalists working for journalists.
                          | We built Dataplayer because you need speed, reliability and 
                          | compelling stories for your audience.
        #demo            
            .container
                h2 Dataplayer in action
            iframe(src=demoSlideshow, name="slideshow", width="100%", height="750px", frameborder="0", allowfullscreen)
                            

        #touch
            .container
                h2 Get in touch
                h3 Meeting exciting people, confront ideas and concepts is what makes us happy. So go on, get in touch.
                ul.inline.links.pull-right
                    li
                        a(href="mailto:hello@dataplayer.org") hello@dataplayer.org
        footer            
            .container
                .row
                    .span8.tr
                        p
                            | <strong>Dataplayer</strong> is a tool edited by the Paris chapter of
                            | Journalism++, an international network of datajournalists.
                        p                            
                            | All code is released under the <a href="http://github/jplusplus/dataplayer/#licence">M.I.T licence</a>
                            | and available <a href="http://github/jplusplus/dataplayer">on Github</a>.
                    .span4.tr
                        a(href="http://jplusplus.org")
                            img(src="img/logo-full.png", alt="Journalism++")

block scripts
    !=js('vendor/jquery-1.7.1.min.js')
    script
        $('a[href^="#"]').click(function(){  
            var the_id = $(this).attr("href");  
            $('html, body').animate({  
                scrollTop:$(the_id).offset().top  
            }, 'slow');  
            return false;  
        });  
    
    !=js("UserMenu.js")
    :coffeescript
        $(window).load -> 
            window.userMenu = new window.UserMenu()
            $("html").addClass "js-ready"