extends ./layouts/base

block title
    | Welcome to Dataplayer
block content
    #home
        .banner
            nav.anchors
                ul.inline
                    li
                        a(href="#discover") discover
                    li
                        a(href="#touch") get in touch
            .introduction
                !=getPage("home")
            .launch
                a.btn.btn-large.btn-block.btn-save(href="/create")
                    | Let's begin
        
        #discover
            .container
                h2 Discover
                .row
                    .span2
                        img.img-circle(src="http://placehold.it/150x150")
                    .span6
                        h3 No account
                        p Disrupt flexitarian viral, ea duis proident intelligentsia. Vinyl id gentrify keffiyeh, helvetica brooklyn eu velit yr dreamcatcher excepteur fap seitan.

                .row.tr
                    .span6.offset4
                        h3 Highly customizable          
                        p Disrupt flexitarian viral, ea duis proident intelligentsia. Vinyl id gentrify keffiyeh, helvetica brooklyn eu velit yr dreamcatcher excepteur fap seitan.
                    .span2
                        img.img-circle(src="http://placehold.it/150x150")

                .row
                    .span2
                        img.img-circle(src="http://placehold.it/150x150").
                    .span6
                        h3 Ready to use
                        p Disrupt flexitarian viral, ea duis proident intelligentsia. Vinyl id gentrify keffiyeh, helvetica brooklyn eu velit yr dreamcatcher excepteur fap seitan.

                .row.tr
                    .span6.offset4
                        h3 Designed for Journalists
                        p Disrupt flexitarian viral, ea duis proident intelligentsia. Vinyl id gentrify keffiyeh, helvetica brooklyn eu velit yr dreamcatcher excepteur fap seitan.
                    .span2
                        img.img-circle(src="http://placehold.it/150x150")
                            

        #touch
            .container
                h2 Get in touch
                h3 Meeting exciting people, confront ideas and concepts is what makes us enthusiastic. So go on, get in touch.
                ul.inline.links.pull-right
                    li
                        a(href="mailto:hello@dataplayer.org") hello@dataplayer.org
                    li.rounded
                        a.facebook(href="http://facebook.com/journalismplusplus", title="facebook")
                    li.rounded
                        a.twitter(href="http://twitter.com/jplusplus_", title="twitter")
                    li.rounded
                        a.github(href="http://github.com/jplusplus", title="github")

        footer            
            .container
                .row
                    .span8.tr
                        p
                            | <strong>Dataplayer</strong> is a tool edited by Journalism++,
                            | a network of datajournalists
                            | that aims to build great stories and tools with data.
                        p
                            em
                                | Its code is released under the <a href="http://github/jplusplus/dataplayer/#licence">M.I.T licence</a>
                                | and available <a href="http://github/jplusplus/dataplayer">on Github</a>.
                    .span4.tr
                        a(href="http://jplusplus.org")
                            img(src="img/logo-full.png", alt="Journalism++")

block scripts
    !=js('vendor/jquery-1.7.1.min.js')
    script
        $('a[href^="#"]').click(function(){  
            var the_id = $(this).attr("href");  
            $('html, body').animate({  
                scrollTop:$(the_id).offset().top  
            }, 'slow');  
            return false;  
        });  