.animation(@animation) {
    animation:@animation;
    -moz-animation:@animation; 
    -webkit-animation:@animation;
    -o-animation:@animation; 
    -ms-animation:@animation;
}

.build-theme(
    @bodyBackground, 
    @basicBackground, 
    @altBackground, 
    @basicColor, 
    @altColor, 
    @activeColor, 
    @basicRadius) {      

    background:@bodyBackground;
    color:@basicColor;
    
    &.js-loading #overflow:after {
        background:@bodyBackground;
    }

    #overflow {
                
        &.book {
    
            
            @bookBorder: fade(@activeColor, 70);
            @bookLight:  fade(@white, 40);
            @bookShadow: fade(@black, 30);
            
            @basicBackground_d1: darken(@basicBackground, 1);
            @basicBackground_d2: darken(@basicBackground, 2);         
            @basicBackground_d10: darken(@basicBackground, 10);  
            
            background-color:@bookBorder;
            &, .book-stack {                
                .box-shadow(0 0 5px 0 @bookShadow );     
            }
            
            .book-stack {
                background-color:@basicBackground;                 
            }


            /*&:after {
                content:"";
                top:-10px;
                bottom:-10px;
                left:-12px;
                right:-12px;
                position:absolute;
                .box-shadow(0 0 0 2px @bookLight inset)
            }
            
            &:before {
                content:"";
                top:-10px;
                bottom:-10px;
                left:50%;
                width:40px;
                margin-left:-20px;
                position:absolute;
                background: @bookShadow;
            } */
                       


            #container {
         
                .box-shadow(0 0 6px 0 darken(@activeColor, 60));     
                left:15px;      
                right:15px;       
                top:10px;      
                bottom:10px;      
                background-color:@basicBackground; 

                &:after {     
                    content:"";          
                    position:absolute;
                    top:0; bottom:0;
                    right:50%;
                    width:120px;                
                    background-image: -webkit-linear-gradient(left, @basicBackground 35%, @basicBackground_d2 73%, @basicBackground 90%, @basicBackground_d1 100%);
                    background-image: -moz-linear-gradient(left, @basicBackground 35%, @basicBackground_d2 73%, @basicBackground 90%, @basicBackground_d1 100%);
                    background-image: -o-linear-gradient(left, @basicBackground 35%, @basicBackground_d2 73%, @basicBackground 90%, @basicBackground_d1 100%);
                    background-image: linear-gradient(left, @basicBackground 35%, @basicBackground_d2 73%, @basicBackground 90%, @basicBackground_d1 100%);
                }

                .step {
                    background-color:@basicBackground; 
                    border-left:5px solid @basicBackground_d2;
                    &:before {                    
                        content:"";          
                        position:absolute;
                        top:0; bottom:0;
                        left:0;
                        width:40px;                
                        background-image: -webkit-linear-gradient(left, @basicBackground_d10 0%, @basicBackground_d2 50%,  @basicBackground 100%);                
                        background-image: -moz-linear-gradient(left, @basicBackground_d10 0%, @basicBackground_d2 50%,  @basicBackground 100%);                
                        background-image: -o-linear-gradient(left, @basicBackground_d10 0%, @basicBackground_d2 50%,  @basicBackground 100%);                
                        background-image: linear-gradient(left, @basicBackground_d10 0%, @basicBackground_d2 50%,  @basicBackground 100%);                
                    }   
                    
                    h2 {
                        padding-left:20px;
                    }
                }  
            }           
        }  

        .credits {
           background:fade(darken(@basicBackground, 10), 45);
           color:darken(@basicColor, 10); 
            a {
                color:@activeColor;       
                text-decoration: none;                
                &:hover {            
                    color:mix(@activeColor, @altBackground);       
                    text-decoration: none;
                }
            }
        }    
    }

        
    #container, #container &.step, #container &.step .spot, .spot {   
        color: @basicColor;
        background-color:@basicBackground;      
        
        h1, h2, h3, h4 {
            color:@basicColor;     
        }

        a {
            color:@activeColor;       
            text-decoration: none;
            
            &:hover {            
                color:mix(@activeColor, @altBackground);       
                text-decoration: none;
            }
        }

    }       
    
    ul.arrows .next,
    ul.arrows .previous,
    .steps a,
    .nav-tick a { 
        background-color:@altBackground;
        color:@altColor;
        
        .no-touch &:hover {
            background-color:mix(@activeColor, @altBackground)
        }

        &.active {
            background:@activeColor;
        }
    }

    .nav-tick a {
        .box-shadow( 0 0 1px 0 fade(@altColor, 40) );
    }

    .nav {
        ul.arrows .next,
        ul.arrows .previous,
        ul.steps a {     
            .border-radius(@basicRadius);
        }    
    }


    &.js-first .nav-tick a.previous:after {
        color:mix(@altBackground, @altColor);
    }
    
    &.js-last .nav-tick a.next:after {
        color:mix(@altBackground, @altColor);
    }
}