.animation(@animation) {
    animation:@animation;
    -moz-animation:@animation; 
    -webkit-animation:@animation;
    -o-animation:@animation; 
    -ms-animation:@animation;
}

.build-theme(
    @bodyBackground, 
    @basicBackground, 
    @altBackground, 
    @basicColor, 
    @altColor, 
    @activeColor, 
    @basicRadius) {      

    background:@bodyBackground;
    color:@basicColor;
    
    &.js-loading #overflow:after {
        background:@bodyBackground;
    }

    #overflow {
        .border-radius(@basicRadius); 
        background-color:@altBackground;    
        
        .credits {
           background:fade(darken(@basicBackground, 10), 45);
           color:darken(@basicColor, 10); 
            a {
                color:@activeColor;       
                text-decoration: none;                
                &:hover {            
                    color:mix(@activeColor, @altBackground);       
                    text-decoration: none;
                }
            }
        }    
    }

        
    #container, #container &.step, #container &.step .spot, .spot {   
        color: @basicColor;
        background-color:@basicBackground;      
        
        h1, h2, h3, h4 {
            color:@basicColor;     
        }

        a {
            color:@activeColor;       
            text-decoration: none;
            
            &:hover {            
                color:mix(@activeColor, @altBackground);       
                text-decoration: none;
            }
        }

    }       
    
    ul.arrows .next,
    ul.arrows .previous,
    .steps a,
    .nav-tick a { 
        background-color:@altBackground;
        color:@altColor;
        
        .no-touch &:hover {
            background-color:mix(@activeColor, @altBackground)
        }

        &.active {
            background:@activeColor;
        }
    }

    .nav-tick a {
        .box-shadow( 0 0 1px 0 fade(@altColor, 40) );
    }

    .nav {
        ul.arrows .next,
        ul.arrows .previous,
        ul.steps a {     
            .border-radius(@basicRadius);
        }    
    }


    &.js-first .nav-tick a.previous:after {
        color:mix(@altBackground, @altColor);
    }
    
    &.js-last .nav-tick a.next:after {
        color:mix(@altBackground, @altColor);
    }
}