
    
/* Default theme */
.theme-default, .theme-dark {        
    
    @bodyBackground:@bgColor;
    @basicBackground:@containerColor;
    @altBackground:@menuColor;
    @basicColor:@white;
    @altColor:@white;
    @basicRadius:0;
        
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
    
    /* Additional styles   */
    #container { 
        .box-shadow(0 -5px 20px 0 darken(@containerColor, 10%) inset);               
    }    
    
    .nav {        
        ul.arrows .next,
        ul.arrows .previous,
        ul.steps a {            
            .box-shadow(0 0 10px 0 darken(@containerColor, 10%) );        
        }
    }
}

/*  Datawrapper */
.theme-light {

    @bodyBackground:#F7F7F7;
    @basicBackground:@white;
    @altBackground:@grayLighter;
    @basicColor:@grayDark;
    @altColor:@grayDarker;
    @activeColor:#0088CC;
    @basicRadius:4px;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
              
    #overflow {
        .box-shadow(0 0 0 1px #D4D4D4);                                 
        h1, h2, h3 {
            font-weight:500;
            font-family:Helvetica Neue, Helvetica, Arial;
        }
    }
}

/*  Purple*/
.theme-purple {

    @bodyBackground:#FFE8FF;
    @basicBackground:@white;
    @altBackground:#FFCEE5;
    @basicColor:#561129;
    @altColor:@white;
    @activeColor:#AF366F;
    @basicRadius:14px;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
              
    #overflow {
        .box-shadow(0 0 10px 0 @altBackground);                                 
        h1, h2, h3 {
            font-weight:500;
            font-family:@serifFontFamily;
        }
    }
}

/*  Green*/
.theme-green {

    @activeColor:#44A823;
    @bodyBackground:mix(@white, @activeColor);
    @basicBackground:@white;
    @altBackground:lighten(@activeColor, 20);
    @basicColor:@bodyBackground;
    @altColor:@white;
    @basicRadius:0;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
              
    #overflow {
        .box-shadow(0 0 0 1px lighten(#44A823, 30) );                  
        h1, h2, h3 {
            font-family:Helvetica Neue, Helvetica, Arial;
        }
    }
}

