
    
/* Default theme */
.theme-default, .theme-dark {        
    
    @bodyBackground:@bgColor;
    @basicBackground:@containerColor;
    @altBackground:lighten(@menuColor, 5);
    @basicColor:@white;
    @altColor:@white;
    @basicRadius:0;
        
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
    
    /* Additional styles   */
    #container { 
        //.box-shadow(0 -5px 20px 0 darken(@containerColor, 10%) inset);               
    }    
    
    .nav {        
        ul.arrows .next,
        ul.arrows .previous,
        ul.steps a {            
            .box-shadow(0 0 10px 0 darken(@containerColor, 10%) );        
        }
    }
}

/*  Datawrapper */
.theme-light {

    @bodyBackground:#F7F7F7;
    @basicBackground:@white;
    @altBackground:@grayLighter;
    @basicColor:@grayDark;
    @altColor:@grayDarker;
    @activeColor:#0088CC;
    @basicRadius:4px;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
              
    #overflow {
        .box-shadow(0 0 0 1px #D4D4D4);                                 
        h1, h2, h3 {
            font-weight:500;
        }
    }
}

/*  Red*/
.theme-red {

    @bodyBackground:@white;
    @basicBackground:#FAFAFA;
    @altBackground:#FAFAFA;
    @basicColor:@black;
    @altColor:@black;
    @activeColor:#FF0000;
    @basicRadius:0;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
              
    #overflow {                             
        h1, h2, h3 {
            font-weight:500;
        }
    }
    .nav {        
        ul.arrows .next,
        ul.arrows .previous,
        ul.steps a {            
            .box-shadow(0 0 10px 0 fade(@black, 20) );      
            .no-touch &:hover {
                background:@activeColor;
            }  
        }
    }
}


/*  Purple*/
.theme-purple {

    @bodyBackground:#FFE8FF;
    @basicBackground:@white;
    @altBackground:#FFCEE5;
    @basicColor:#561129;
    @altColor:@white;
    @activeColor:#AF366F;
    @basicRadius:14px;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
              
    #overflow {
        .box-shadow(0 0 10px 0 @altBackground);                                 
        h1, h2, h3 {
            font-weight:500;
            font-family:@serifFontFamily;
        }
    }
}

/*  Green*/
.theme-green {

    @bodyBackground:lighten(@activeColor, 10);
    @basicBackground:@bodyBackground;
    @altBackground:darken(@bodyBackground, 5);
    @basicColor:@white;
    @altColor:darken(@bodyBackground, 25);
    @basicRadius:0;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @white, @basicRadius);
    
    #overflow .credits a, 
    #overflow .credits a:hover, 
    #overflow .credits a:visited {
        color: @white; 
        text-decoration:underline;
    }

    #overflow {
        h1, h2, h3 {
            font-weight:200;
            font-family:@serifFontFamily;
        }
    }
}

/* Azure (light blue) */
.theme-azure {
    
    @activeColor:@white;
    @bodyBackground:#8CBEEC;
    @basicBackground:#8CBEEC;
    @altBackground:darken(@bodyBackground, 5);
    @basicColor:@white;
    @altColor:darken(@bodyBackground, 25);
    @basicRadius:0;
    
    .build-theme(@bodyBackground, @basicBackground, @altBackground, @basicColor, @altColor, @activeColor, @basicRadius);
    
    #overflow .credits a, 
    #overflow .credits a:hover, 
    #overflow .credits a:visited {
        color: @white; 
        text-decoration:underline;
    }

    #overflow {
        h1, h2, h3 {
            font-weight:200;
            font-family:@serifFontFamily;
        }
    }
}