#editor.toggle
    a.editor-toggler Toggle the editor
    h2.heading Editor 
        | : 
        =obj.content.title
    ul.tabs-bar
        li.active
            a(href="#editor-json") JSON
        li
            a(href="#editor-help") Help
        li 
            a(href="#editor-publish") Publish

    #editor-json.tabs-pan.active
        .tr.editor-actions
            button.btn.btn-preview.disabled.right10             
                i.icon-refresh.right10
                | Preview
            button.btn.btn-save.disabled.important 
                i.icon-upload.icon-white.right10
                | Save 

        textarea(name="config")
            !=JSON.stringify(obj.content, null, 4)
    
    #editor-help.tabs-pan
        article
            !="" + getPage("help")
    #editor-publish.tabs-pan